/* Inserta tu codigo aqui */
.tipografia li{
	list-style: none;
	float: left;
	margin-top: 5px;
	color:white;
	margin-right: 0px;
	display: inline-block;
	font-family: Arial;
	padding: 20px 10px;
}
.fondoheader{
	background-color: #191919;
	height: 100px;
}
.logo1{
	width: 200px;
	height: 80px;
}
.fondo{
	background-color: #4D2B63;
	background-repeat: no-repeat;
}
.caja1{
	background-image: url(../image/header-image.jpg);
	padding-top: 25%;
	max-width: 100%;
	background-size: cover;
	margin-bottom: 0px;
}
.caja2{
	padding: 2% 0% 2% 0%;
	max-width: 100%;
	
}
.caja1-1{
	border:2px solid blue;
	background-color: black;
	max-width: 70%;
	padding: 0px 200px 10px 200px;
	margin: 0 auto;
	background-size: cover;

	
}
.img1{
	max-width: 100%;
}

.caja1-1 h1{
	font-family: Courgette;
	font-size: 50px;
	color: #FF9C3F;
}
.marcos h4{
	font-family: Courgette;
	color: #FF9C3F;
	margin-bottom: 20px;
}
.marcos p{
	font-family: Arial;
	font-size: 10px;
	color: white;
}
.caja1-1 h5{
	font-family: OpenSans;
	color: white;
}
.fotos{
	width: 300px;
	min-height: 300px;
	float: left;
	margin-left: 0 auto;

}
.marcos img{
	border-bottom: 100px solid black;
	margin-left: 0px;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
